html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* idがdimensionでないselect要素の表示サイズを大きくする */
select {
    font-size: 50px; /* フォントサイズを50pxに設定 */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

table{
	align: center;
	width: 100%;
}

td{
  font-size: 300%;
  text-align: center;
  border: 1px solid #000; /* 黒色の1pxの境界線を追加 */
}

th.teacher{
}

td.student{
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  height: 50px;
  width: 50px;
  max-height: 100px;
  max-width: 100px;
  padding: 10px 0px;
}

td.欠{
  background-color: #a0a0a0;
}

td.A{
  background-color: #ff0000;
  color: #ffffff;
}

td.B{
  background-color: #ff007f;
  color: #ffffff;
}

td.C{
  background-color: #ff00ff;
}

td.D{
  background-color: #7f00ff;
  color: #ffffff;
}

td.E{
  background-color: #0000ff;
  color: #ffffff;
}

td.F{
  background-color: #007fff;
  color: #ffffff;
}

td.G{
  background-color: #00ffff;
}

td.H{
  background-color: #00ff7f;
}

td.I{
  background-color: #ff9966;
}

td.J{
  background-color: #006633;
  color: #ffffff;
}

td.K{
  background-color: #ffff00;
}

td.L{
  background-color: #ff7f00;
}

td.M{
  background-color: #ff7a7a;
}

td.N{
  background-color: #ff7abc;
}

td.O{
  background-color: #ff7aff;
}

td.P{
  background-color: #bc7aff;
}

td.Q{
  background-color: #7a7aff;
  color: #ffffff;
}

td.R{
  background-color: #7abcff;
}

.nodisplay{
  display: none;
}

/* ボタンのスタイル */
#doSekigaeBtn {
  font-size: 24px; /* 文字サイズを大きくする */
  background-color: #ff0000; /* 背景色を赤にする */
  color: #ffffff; /* テキストの色を白にする */
  border: 2px solid #000000; /* ボーダーを追加する */
  border-radius: 8px; /* 角丸にする */
  padding: 10px 20px; /* パディングを追加する */
}
