html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

table{
	align: center;
	width: 100%;
}

td{
  font-size: 300%;
  text-align: center;
  max-width: 100px;
}

td.Œ‡{
  background-color: #a0a0a0;
}

td.A{
  background-color: #f39700;
}

td.B{
  background-color: #e60012;
}

td.C{
  background-color: #9caeb7;
}

td.D{
  background-color: #00a7db;
}

td.E{
  background-color: #009944;
}

td.F{
  background-color: #d7c447;
}

td.G{
  background-color: #9b7cb6;
}

td.H{
  background-color: #00ada9;
}

td.I{
  background-color: #bb641d;
}

td.J{
  background-color: #e85298;
}

td.K{
  background-color: #0079c2;
}

td.L{
  background-color: #6cbb5a;
}

td.M{
  background-color: #b6007a;
}

td.N{
  background-color: #000000;
  color: #ffffff
}

td.O{
  background-color: #ff38ff;
}

td.P{
  background-color: #ffffff;
}

td.Q{
  background-color: #0000ff;
}

td.R{
  background-color: #ffff00;
}
