html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

table{
	align: center;
	width: 100%;
}

td{
  font-size: 300%;
  text-align: center;
  height:50px;
  width:50px;
  max-height: 100px;
  max-width: 100px;
}

td.欠{
  background-color: #a0a0a0;
}

td.A{
  background-color: #ff0000;
}

td.B{
  background-color: #ff007f;
}

td.C{
  background-color: #ff00ff;
}

td.D{
  background-color: #7f00ff;
}

td.E{
  background-color: #0000ff;
}

td.F{
  background-color: #007fff;
}

td.G{
  background-color: #00ffff;
}

td.H{
  background-color: #00ff7f;
}

td.I{
  background-color: #ff9966;
}

td.J{
  background-color: #006633;
}

td.K{
  background-color: #ffff00;
}

td.L{
  background-color: #ff7f00;
}

td.M{
  background-color: #ff7a7a;
}

td.N{
  background-color: #ff7abc;
}

td.O{
  background-color: #ff7aff;
}

td.P{
  background-color: #bc7aff;
}

td.Q{
  background-color: #7a7aff;
}

td.R{
  background-color: #7abcff;
}
